<h1><%= @mechanic.name %></h1>
<p>Years of Experience: <%= @mechanic.years_experience %></p>
<p>Rides that <%= @mechanic.name %> is working on: </p>
<% @rides.each do |ride| %>
  <p><%= ride.name %></p>
<% end %>

<p>Add a new ride to their workload</p>
<%= form_with url: "/mechanics/#{@mechanic.id}", method: :get, local: true do |f| %>
  <%= f.label :id, "Ride ID" %>
  <%= f.text_field :id %>
  <%= f.submit "Submit" %>
<% end %>
