<h1><%= @mechanic.name %></h1>
<h3><%= "Years of Expereince: #{@mechanic.years_experience}" %></h3>
<h3>Open Rides Currently Assigned To:</h3>
<div class="rides">
  <% @mechanic.open_rides_by_thrill.each do |ride| %>
    <p><%= ride.name %></p>
  <% end %>
</div>
<div class="new_ride">
  <fieldset>
    <legend>Add New Ride To Workload</legend>
    <%= form_with url: '/rides', method: :post, local: true do |f| %>
      <%= f.label :ride_id, value: "Ride ID" %>
      <%= f.number_field :ride_id %>
      <%= f.submit "Submit" %>
    <% end %>
  </fieldset>
</div>
