<h1><%= @mechanic.name %></h1>
<p> Years of experience: <%= @mechanic.years_experience %></p>
<h3> Rides they work on: </h3>
<% @mechanic.rides.each do |ride| %>
  <p> <% if ride.open == true %> </p>
    <p><%= ride.name %></p>
    <%# default_scope :order => "thrill_rating DESC" %>
    <%# ride.order(thrill_rating: :desc) %>
    <% end %>
<% end %>
<h3>Add a ride to work load:</h3>
<%= form_with url: "/mechanics/#{@mechanic.id}", method: :get, local: true do |f| %>
  <%# <%= f.label :ride_id %>
  <!-- not showing as expected -->
  <p>Ride ID <%= f.text_field :ride_id %></p>
  <%= f.submit "Submit" %>
<% end %>
