<h1><%=@mechanic.name%>'s information </h1>

<h3>Years of Experience</h3>
<p><%=@mechanic.years_of_experience%></p>

<h3>Rides Worked On</h3>
<%@mechanic.only_open.each do |ride|%>
<p><%=ride.name%></p>
<%end%>

<section id='form-add-ride'>
  <h2>Add an Ride</h2>
    <%= form_with url: "/ride_mechanics/#{@mechanic.id}?search=ride_id", method: :post, local: true do |form| %>
    <%= form.label :ride_id %>
    <%= form.text_field :ride_id %>
    <%= form.submit "Submit" %>
  </section>
  <%end%>
