<h1>Name: <%= @mechanic.name %></h1>
<p>Years of Experience: <%= @mechanic.years_of_experience %></p>

<div id="rides">
  <ol>
    <% @mechanic.rides.most_to_least_thrilling.each do |ride| %>
      <% if ride.open == true %>
        <li id="ride<%= ride.id %>"><%= ride.name %></li>
      <% end %>
    <% end %>
  </ol>
</div>

<h2>Add Ride to Workload</h2>
<%= form_with url: "/mechanic_rides/new",
method: :post, local: true do |f| %>

  <%= f.hidden_field :mechanic_id, value: "#{@mechanic.id}" %>

  <%= f.label :ride_id, "Ride ID"%>
  <%= f.text_field :ride_id %>

  <%= f.submit "Submit" %>
<% end %>
