<h1><%= "Mechanic: #{@mechanic.name}" %></h1>
<h3><%= "Years of Experience: #{@mechanic.years_experience}" %></h3>
<hr>
<h4>Current rides they're working on: </h4>
  <% @mechanic.rides.filtered.each do |ride| %>
  <p><%= ride.name %></p>
<% end %>

  <h4>Add a ride to workload:</h4>
<%= form_with url: "/mechanics/#{@mechanic.id}/rides", method: :post, local: true do |f| %>
  <%= f.label :ride_id, "Ride ID:" %>
  <%= f.number_field :ride_id %>

  <%= f.submit 'Add Ride' %>
<% end %>