<h1><%= @mechanic.name %></h1>
<h3>Years Experience: <%= @mechanic.years_experience %></h3>
<h3>Rides:</h3>
<% @mechanic.rides.thrill_order.each do |ride| %>
  <% if ride.open %>
    <li><%= ride.name %></li>
  <% end %>
<% end  %>

<%= form_with url: "/mechanics/#{@mechanic.id}", method: :patch, local: true do |form| %>
<%= form.label :ride_name, "Add Ride To Work Load" %>
<%= form.text_field :ride_name %>
<%= form.submit "Submit" %>
<% end %>
