<h1><%= @mechanic.name %>'s Information</h1>

<p>Name: <%= @mechanic.name %> </p>
<p>Years of Experience: <%= @mechanic.years_experience %> </p>

<h2> Rides <%= @mechanic.name %> is working on and are open</h2>
<% @mechanic.most_to_least_thrill.each do |ride| %>
<% if ride.open == true %>
  <p><%= ride.name %></p>
  <% end %>
<% end %>
